#container {
  text-align: center;

 /*  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */
  width: 100%;
  height: 50vh;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.btn-big{
  width: 50%;
  padding: 1rem;
  background: #e9e9;
}
.btn-big-other{
  width: 50%;
  padding: 1rem;
  background: #e9e939;
  color: #000;
}